# Database and cache files
Scripts/Navidrome/navidrome.db*
Scripts/Navidrome/cache/

# Music files and folders
Songs/
TempDownloads/
Icons/
*.mp3
*.flac
*.m4a
*.ogg
*.wav

# Exclude all .txt files except specific ones
*.txt
!README.txt
!env file example.txt

# Exclude Scripts/IOS
Scripts/IOS/

# Exclude personal config files
Scripts/.env
deemix-config/
Scripts/deemix-config*

# Backups and build
Backups/
build/

# OS files
desktop.ini
Thumbs.db

# Logs
*.log

# Other personal files
TODO.txt
Cant Find.txt
asdadsasdads.txt
